* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: oblique;
}


.search-box {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(rgba(0,8,91,0.9), rgba(0,8,91,0.9)), url(img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.search-container {
    width: 100%;
    max-width: 600px;
    backdrop-filter: blur(4px) saturate(180%);
    display: flex;
    place-items: center;
    margin: 300px auto;
    padding: 10px 20px;
    border-radius: 60px;
}



.search-container input {
    flex: 1;
    border: 0;
    background: transparent;
    outline: 0;
    font-size: 30px;
    color: #fff;
    padding: 20px 0;
}




.search-container button {
    border: 0;
    outline: 0;
    cursor: pointer;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
}


.search-container button img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}